asgiref==3.7.2
cachetools==5.3.2
certifi==2023.11.17
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django~=3.2.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
google-api-core==2.15.0
google-auth==2.27.0
google-cloud-core==2.4.1
google-cloud-speech==2.23.0
google-cloud-translate==3.14.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
gTTS==2.5.1
gunicorn==21.2.0
h11==0.9.0
hpack==3.0.0
hyperframe==5.2.0
idna==3.6
libretranslatepy==2.1.1
lxml==5.1.0
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
proto-plus==1.23.0
protobuf==4.25.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pytz==2024.1
requests==2.31.0
rfc3986==1.5.0
rsa==4.9
sqlparse==0.4.4
translate==3.6.1
tzdata==2023.3
urllib3==2.1.0
